.wrapper{
    background-color: #e9e5e5;
    position: relative;
}

.titleBar{
    display: flex;
    height: 85px;
    padding: 20px 0 10px 20px;
}

.titleBar span{
    font-size: 30px;
    position: relative;
    line-height: 35px;
}

.mainMenu{
    position: absolute;
    right:20px;
    padding:10px 5px;
    background-color: red;
    border-radius: 3px;
    list-style-type: none;
    
}
.mainMenu a{
    color:black;
    text-decoration: none;
}

.mainMenu a:hover{
    color:white;
}
.menu{
    margin: 0;
    padding: 0 0 0 10px;
}
.menu li a {
    text-decoration: none;
    padding: 10px 12px;
    background-color: red;
    color: white;
    border-radius: 4px;
}

.menu li{
    display: inline-block;
    list-style-type: none;
    height: 40px;
    padding: 10px;
}