.wrapper{
    background-color: #e9e5e5;
    position: relative;

}

.titleBar{
    display: flex;
    height: 85px;
    padding: 20px 0 10px 20px;
}

.titleBar span{
    font-size: 30px;
    position: relative;
    line-height: 35px;
}

.mainMenu{
    position: absolute;
    right: 20px;
    background-color: transparent;
    border-radius: 3px;
    list-style-type: none;
    border: 2px solid black;
    padding:7px 0;
    
}
.mainMenu a{
    padding:13px 15px;
    color:black;
    text-decoration: none;
}
.mainMenu a:hover{
    color:black !important;
}

.menu{
    margin: 0;
    padding: 0 0 0 10px;
}
.menu li a {
    text-decoration: none;
    padding: 13px 24px;
    background-color: black;
    color: white;
    border-radius: 4px;
}

.menu li{
    display: inline-block;
    list-style-type: none;
    height: 40px;
    padding: 10px;
}